// Set class name.
$className: 'cursor';

// Set variants available for this class.
// # You can use 'responsive' as well as 'hover', 'focus', 'active' etc...
$variants: 'responsive' 'hover';

// Construct class props so we don't keep repeating ourselves.
@mixin cursor($prefix, $suffix) {

    // Utilities for controlling the cursor style when hovering over an element.
    // # Use 'cursor' to allow the browser to change the cursor based on the current content (e.g. automatically change to text cursor when hovering over text).
    .#{$prefix}#{$suffix} {
        cursor: auto;
    }

    // # Use 'cursor--default' to change the mouse cursor to always use the platform-dependent default cursor (usually an arrow).
    .#{$prefix}--default#{$suffix} {
        cursor: default;
    }

    // # Use 'cursor--pointer' to change the mouse cursor to indicate an interactive element (usually a pointing hand).
    .#{$prefix}--pointer#{$suffix} {
        cursor: pointer;
    }

    // # Use 'cursor--wait' to change the mouse cursor to indicate something is happening in the background (usually an hourglass or watch).
    .#{$prefix}--wait#{$suffix} {
        cursor: wait;
    }

    // # Use 'cursor--text' to change the mouse cursor to indicate the text can be selected (usually an I-beam shape).
    .#{$prefix}--text#{$suffix} {
        cursor: text;
    }

    // # Use 'cursor--move' to change the mouse cursor to indicate something that can be moved.
    .#{$prefix}--move#{$suffix} {
        cursor: move;
    }

    // # Use 'cursor--not-allowed' to change the mouse cursor to indicate something can not be interacted with or clicked.
    .#{$prefix}--not-allowed#{$suffix} {
        cursor: not-allowed;
    }
}

// Use mixin as a default class without media queries.
@include cursor($className, "");

// Loop through the selected variants for this class.
@each $variant in $variants {

    // Make sure we don't include the 'responsive' the variant.
    @if $variant != 'responsive' {
        // Include variant classes
        @include cursor("#{$variant}\\:#{$className}", ":#{$variant}");
    }
}

// Use mixin inside media queries with relevant prefix.
// # Check if 'responsive' is in list.
@if index($variants, 'responsive') {

    // If responsive is in list then loop through breakpoints.
    @each $query_name, $query_width in $media_queries {

        // Initiate Media Query.
        @media (min-width: $query_width) {

            // Create default class with breakpoint prefix.
            @include cursor("#{$query_name}\\:#{$className}", "");

            // Loop through the selected variants for this class.
            @each $variant in $variants {

                // Make sure we don't include the 'responsive' the variant.
                @if $variant != 'responsive' {

                    // Include variant classes inside mq
                    @include cursor("#{$query_name}\\:#{$variant}\\:#{$className}", ":#{$variant}");
                }
            }
        }
    }
}
