// Set class name.
$className: 'leading';

// Set variants available for this class.
// # You can use 'responsive' as well as 'hover', 'focus', 'active' etc...
$variants: 'responsive'; // We don't need responsive as the font sizes are responsive by default.

// Construct class props so we don't keep repeating ourselves.
@mixin line-height($prefix, $suffix) {

    // Utilities for controlling the leading (line height) of an element.
    .#{$prefix}#{$suffix} {
        line-height: v(lh-normal);
    }

    // Use the 'leading--none', 'leading--tight', 'leading--snug', 'leading--normal', 'leading--relaxed', and 'leading--loose' utilities to give an element a relative line-height based on its current font-size.
    // These must match the vars set out in '_css-vars.scss'
    .#{$prefix}--none#{$suffix} {
        line-height: v(lh-none);
    }

    .#{$prefix}--tight#{$suffix} {
        line-height: v(lh-tight);
    }

    .#{$prefix}--snug#{$suffix} {
        line-height: v(lh-snug);
    }

    .#{$prefix}--normal#{$suffix} {
        line-height: v(lh-normal);
    }

    .#{$prefix}--relaxed#{$suffix} {
        line-height: v(lh-relaxed);
    }

    .#{$prefix}--loose#{$suffix} {
        line-height: v(lh-loose);
    }
}

// Use mixin as a default class without media queries.
@include line-height($className, "");

// Check if 'none' is in list.
@if not index($variants, 'none') {
    // # If none isn't in the list, Loop through the selected variants for this class.
    @each $variant in $variants {

        // # Make sure we don't include the 'responsive' the variant.
        @if $variant != 'responsive' {
            // # Include variant classes
            @include line-height("#{$variant}\\:#{$className}", ":#{$variant}");
        }
    }
}

// Use mixin inside media queries with relevant prefix.
// # Check if 'responsive' is in list.
@if index($variants, 'responsive') {

    // If responsive is in list then loop through breakpoints.
    @each $query_name, $breakpoint in $breakpoints {

        // Initiate Media Query.
        @media (min-width: $breakpoint) {

            // Create default class with breakpoint prefix.
            @include line-height("#{$query_name}\\:#{$className}", "");

            // Loop through the selected variants for this class.
            @each $variant in $variants {

                // Make sure we don't include the 'responsive' the variant.
                @if $variant != 'responsive' {

                    // Include variant classes inside mq
                    @include line-height("#{$query_name}\\:#{$variant}\\:#{$className}", ":#{$variant}");
                }
            }
        }
    }
}
