// Set class name.
$className: 'sr';

// Set variants available for this class.
// # You can use 'responsive' as well as 'hover', 'focus', 'active' etc...
$variants: 'responsive' 'focus' 'hover';

// Construct class props so we don't keep repeating ourselves.
@mixin screen-reader($prefix, $suffix) {

    // Use 'sr' to hide an element visually without hiding it from screen readers.
    .#{$prefix}#{$suffix} {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    // Use 'sr--undo' to undo 'sr', making an element visible to sighted users as well as screen readers.
    .#{$prefix}--undo#{$suffix} {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        overflow: visible;
        clip: auto;
        white-space: normal;
    }
}

// Use mixin as a default class without media queries.
@include screen-reader($className, "");

// Loop through the selected variants for this class.
@each $variant in $variants {

    // Make sure we don't include the 'responsive' the variant.
    @if $variant != 'responsive' {
        // Include variant classes
        @include screen-reader("#{$variant}\\:#{$className}", ":#{$variant}");
    }
}

// Use mixin inside media queries with relevant prefix.
// # Check if 'responsive' is in list.
@if index($variants, 'responsive') {

    // If responsive is in list then loop through breakpoints.
    @each $query_name, $breakpoint in $breakpoints {

        // Initiate Media Query.
        @media (min-width: $breakpoint) {

            // Create default class with breakpoint prefix.
            @include screen-reader("#{$query_name}\\:#{$className}", "");

            // Loop through the selected variants for this class.
            @each $variant in $variants {

                // Make sure we don't include the 'responsive' the variant.
                @if $variant != 'responsive' {

                    // Include variant classes inside mq
                    @include screen-reader("#{$query_name}\\:#{$variant}\\:#{$className}", ":#{$variant}");
                }
            }
        }
    }
}
