// TODO: Comment mixin properly
@mixin spacing-map-constructor( $class_map, $class_name, $class_property ) {

    $i: 0;
    @each $name, $value in map-get($class_map, 'vars') {
        $spacing_types: '', 'x', 'y', 't', 'r', 'b', 'l';

        @if $class_property == 'padding' {
            @each $spacing_type in $spacing_types {
                @if $spacing_type == '' {
                    $padding_properties: map-deep-set( $padding_properties, 'classes', '#{$class_name}-#{$i}', (
                            '#{$class_property}': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'x' {
                    $padding_properties: map-deep-set( $padding_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-left': v(#{$name}),
                        '#{$class_property}-right': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'y' {
                    $padding_properties: map-deep-set( $padding_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-top': v(#{$name}),
                        '#{$class_property}-bottom': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 't' {
                    $padding_properties: map-deep-set( $padding_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-top': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'r' {
                    $padding_properties: map-deep-set( $padding_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-right': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'b' {
                    $padding_properties: map-deep-set( $padding_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-bottom': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'l' {
                    $padding_properties: map-deep-set( $padding_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-left': v(#{$name})
                    ) ) !global;
                }
            }
        } @else if $class_property == 'margin' {
            @each $spacing_type in $spacing_types {
                @if $spacing_type == '' {
                    $margin_properties: map-deep-set( $margin_properties, 'classes', '#{$class_name}-#{$i}', (
                            '#{$class_property}': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'x' {
                    $margin_properties: map-deep-set( $margin_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-left': v(#{$name}),
                        '#{$class_property}-right': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'y' {
                    $margin_properties: map-deep-set( $margin_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-top': v(#{$name}),
                        '#{$class_property}-bottom': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 't' {
                    $margin_properties: map-deep-set( $margin_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-top': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'r' {
                    $margin_properties: map-deep-set( $margin_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-right': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'b' {
                    $margin_properties: map-deep-set( $margin_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-bottom': v(#{$name})
                    ) ) !global;
                } @else if $spacing_type == 'l' {
                    $margin_properties: map-deep-set( $margin_properties, 'classes', '#{$class_name}#{$spacing_type}-#{$i}', (
                        '#{$class_property}-left': v(#{$name})
                    ) ) !global;
                }
            }
        }
        $i: $i+1;
    }
}