:root {
    // Typography - Fluid Text Defaults
    @include css-var-constructor( $fluid_typography );

    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
}

@include mq(xl) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}

:root {
    // Fluid Text Helpers
    --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
    --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));
    --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--1: (var(--fluid-min-size) * var(--fluid-min-scale--1)) / 16;
    --fluid-max-size--1: (var(--fluid-max-size) * var(--fluid-max-scale--1)) / 16;
    --fluid-min-scale-0: var(--fluid-min-ratio);
    --fluid-max-scale-0: var(--fluid-max-ratio);
    --fluid-min-size-0: (var(--fluid-min-size)) / 16;
    --fluid-max-size-0: (var(--fluid-max-size)) / 16;
    --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
    --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
    --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
    --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
    --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
    --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
    --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
    --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
    --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
    --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
    --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
    --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
    --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
    --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
    --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
    --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
    --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
    --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
    --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
    --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;

    // Global - Custom CSS Vars
    // # These will be generated for the themes custom css
    @include css-var-constructor( $custom_css_vars );

    // Typography - Font Family
    // # Generates matching Utility Classes in: typography/_font-family.scss
    @include css-var-constructor( $font_family_properties );

    // Typography - Font Size
    // # Generates matching Utility Classes in: typography/_font-size.scss
    @include css-var-constructor( $font_size_properties );

    // Typography - Font Style
    // # Generates matching Utility Classes in: typography/_font-style.scss
    @include css-var-constructor( $font_style_properties );

    // Typography - Font Weights
    // # Generates matching Utility Classes in: typography/_font-weight.scss
    @include css-var-constructor( $font_weight_properties );

    // Typography - Tracking / Letter Spacings
    // # Generates matching Utility Classes in: typography/_letter-spacing.scss
    @include css-var-constructor( $tracking_properties );

    // Typography - Leading / Line Height
    // # Generates matching Utility Classes in: typography/_line-height.scss
    @include css-var-constructor( $leading_properties );

    // Typography - Text Align
    // # Generates matching Utility Classes in: typography/_text-align.scss
    @include css-var-constructor( $text_align_properties );

    // Typography - Text Color
    // # Generates matching Utility Classes in: typography/_text-color.scss
    @include css-var-constructor( $text_color_properties );

    // Typography - Text Decoration
    // # Generates matching Utility Classes in: typography/_text-decoration.scss
    @include css-var-constructor( $text_decoration_properties );

    // Generate Color Properties
    // # Create matchng utilities for these in: typography/_text-color.scss
    @include css-var-constructor( $colors );

    // Effects - Box Shadow
    // # Generates matching Utility Classes in: effects/_box-shadow.scss
    @include css-var-constructor( $shadow_properties );

    // Effects - Opacity
    // # Generates matching Utility Classes in: effects/_opacity.scss
    @include css-var-constructor( $opacity_properties );

    // Interactivity - Appearance
    // # Generates matching Utility Classes in: interactivity/_appearance.scss
    @include css-var-constructor( $appearance_properties );

    // Interactivity - Cursors
    // # Generates matching Utility Classes in: interactivity/_cursor.scss
    @include css-var-constructor( $cursor_properties );

    // Interactivity - Outline
    // # Generates matching Utility Classes in: interactivity/_outline.scss
    @include css-var-constructor( $outline_properties );

    // Interactivity - Pointer Events
    // # Generates matching Utility Classes in: interactivity/_pointer-events.scss
    @include css-var-constructor( $pointer_event_properties );

    // Interactivity - Resize
    // # Generates matching Utility Classes in: interactivity/_resize.scss
    @include css-var-constructor( $resize_properties );

    // Interactivity - User Select
    // # Generates matching Utility Classes in: interactivity/_user-select.scss
    @include css-var-constructor( $user_select_properties );

    // Sizing - Height
    // # Generates matching Utility Classes in: sizing/_height.scss
    // # Generates matching Utility Classes in: sizing/_min-height.scss
    // # Generates matching Utility Classes in: sizing/_max-height.scss
    @include css-var-constructor( $height_properties );

    // Sizing - Width
    // # Generates matching Utility Classes in: sizing/_width.scss
    // # Generates matching Utility Classes in: sizing/_min-width.scss
    // # Generates matching Utility Classes in: sizing/_max-width.scss
    @include css-var-constructor( $width_properties );

    // Spacing - Padding
    // # Generates matching Utility Classes in: sizing/_height.scss
    // # Generates matching Utility Classes in: sizing/_min-height.scss
    // # Generates matching Utility Classes in: sizing/_max-height.scss
    @include css-var-constructor( $spacing_properties );

    // SVG - Fills
    // # Generates matching Utility Classes in: svg/_fill.scss
    @include css-var-constructor( $fill_color_properties );

    // SVG - Stroke
    // # Generates matching Utility Classes in: svg/_stroke.scss
    @include css-var-constructor( $stroke_color_properties );

    // SVG - Stroke Width
    // # Generates matching Utility Classes in: svg/_stroke-width.scss
    @include css-var-constructor( $stroke_width_properties );
}
