// Map Defaults
// # We need to make sure every map is set to null so if user comments out the map no vars or classes are output
// # We don't need to do this for breakpoints.

// - - - - - - - - - -

// Additional CSS Vars
// # Output in the :root of the main stylesheet
$custom_css_vars: null !default;

// # Colors
$colors: null !default;

// # Accessibility
$screen_reader_properties: null !default;

// # Backgrounds
$bg_color_properties: null !default;

// # Effects
$shadow_properties: null !default;
$opacity_properties: null !default;

// # Interactivity
$appearance_properties: null !default;
$cursor_properties: null !default;
$outline_properties: null !default;
$pointer_event_properties: null !default;
$resize_properties: null !default;
$user_select_properties: null !default;

// # Layout
$align_content_properties: null !default;
$align_items_properties: null !default;
$align_self_properties: null !default;
$flex_direction_properties: null !default;
$flex_wrap_properties: null !default;
$justify_content_properties: null !default;
$order_properties: null !default;

// # Sizing
$height_properties: null !default;
$max_height_properties: null !default;
$min_height_properties: null !default;
$width_properties: null !default;
$max_width_properties: null !default;
$min_width_properties: null !default;

// # Spacing
$spacing_properties: null !default;
$margin_properties: null !default;
$padding_properties: null !default;

// # SVG
$fill_color_properties: null !default;
$stroke_color_properties: null !default;
$stroke_width_properties: null !default;

// # Typography
$fluid_typography: null !default;
$font_family_properties: null !default;
$font_size_properties: null !default;
$font_style_properties: null !default;
$font_weight_properties: null !default;
$tracking_properties: null !default;
$leading_properties: null !default;
$text_align_properties: null !default;
$text_color_properties: null !default;
$text_decoration_properties: null !default;
