// Breakpoints - min-width
$breakpoints: (
  sm: 768px,
  md: 1024px,
  lg: 1300px,
  xl: 1500px
);

// Typography Properties
// # Font Weights
// ## Create matchng utilities for these in: typography/_font-weight.scss
// ## Generates CSS Custom Vars in: _css-vars.
$weights: (
    light: 200,
    normal: 400,
    bold: 600
);
// # Letter Spacings / Tracking
// ## Create matchng utilities for these in: typography/_letter-spacing.scss
// ## Generates CSS Custom Vars in: _css-vars.
$letter_spacings: (
    tightest: -0.1em,
    tighter: -0.05em,
    tight: -0.025em,
    normal: 0,
    wide: 0.025em,
    wider: 0.05em,
    widest: 0.1em
);
// # Leading / Line Height
// ## Create matchng utilities for these in: typography/_line-height.scss
// ## Generates CSS Custom Vars in: _css-vars.
$line_heights: (
    none: 1,
    tight: 1.25,
    snug: 1.375,
    normal: 1.5,
    relaxed: 1.625,
    loose: 2
);
// # Text Align
// ## Create matchng utilities for these in: typography/_text-align.scss
$text_alignments: (
    left: left,
    center: center,
    right: right,
    justify: justify
);
// # Font Style
// ## Create matchng utilities for these in: typography/_font-style.scss
$font_styles: (
    italic: italic,
    normal: normal
);
// # Text Decoration
// ## Create matchng utilities for these in: typography/_text-decoration.scss
$text_decorations: (
    under: underline,
    strike: line-through,
    none: none
);

// Colours
// # Generates CSS Custom Vars in: _css-vars.
$colours: (
    white: #ffffff,
    black: #252525,
    dark-grey: #212322,
    mid-grey: #54585a,
    light-grey: #97999b,
    bg-grey: #f3f3f3
);