// Global Settings
// # Breakpoint Setup - min-width
$media_queries: (
  sm: 768px,
  md: 1024px,
  lg: 1300px,
  xl: 1500px
);

// Includes
// # Accessibility classes.
@import 'accessibility/screen-readers';

// # SVG classes.
@import 'svg/fill';
@import 'svg/stroke';
@import 'svg/stroke-width';
