// Global Settings

:root {
    --ff-sans: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --ff-serif: Georgia, Cambria, "Times New Roman", Times, serif;
}
// # Breakpoint Setup - min-width
$media_queries: (
  sm: 768px,
  md: 1024px,
  lg: 1300px,
  xl: 1500px
);

// Includes
@import 'functions';

// # Typography
@import 'typography/font-family';

// # Effects
// @import 'effects/box-shadow';
// @import 'effects/opacity';

// # Interactivity.
// @import 'interactivity/appearance';
// @import 'interactivity/cursor';
// @import 'interactivity/outline';
// @import 'interactivity/pointer-events';
// @import 'interactivity/resize';
// @import 'interactivity/user-select';

// # SVG classes.
// @import 'svg/fill';
// @import 'svg/stroke';
// @import 'svg/stroke-width';

// # Accessibility classes.
// @import 'accessibility/screen-readers';
