// Set class name.
$className: 'fill--current';

// Set variants available for this class.
// # You can use 'responsive' as well as 'hover', 'focus', 'active' etc...
$variants: 'responsive' 'focus' 'hover';

// Construct class props so we don't keep repeating ourselves.
@mixin fill($prefix, $suffix) {

    // Use 'fill--current' to set the fill color of an SVG to the current text color.
    .#{$prefix}#{$suffix} {
        fill: currentColor;
    }
}

// Use mixin as a default class without media queries.
@include fill($className, "");

// Loop through the selected variants for this class.
@each $variant in $variants {

    // Make sure we don't include the 'responsive' the variant.
    @if $variant != 'responsive' {
        // Include variant classes
        @include fill("#{$variant}\\:#{$className}", ":#{$variant}");
    }
}

// Use mixin inside media queries with relevant prefix.
// # Check if 'responsive' is in list.
@if index($variants, 'responsive') {

    // If responsive is in list then loop through breakpoints.
    @each $query_name, $query_width in $media_queries {

        // Initiate Media Query.
        @media (min-width: $query_width) {

            // Create default class with breakpoint prefix.
            @include fill("#{$query_name}\\:#{$className}", "");

            // Loop through the selected variants for this class.
            @each $variant in $variants {

                // Make sure we don't include the 'responsive' the variant.
                @if $variant != 'responsive' {

                    // Include variant classes inside mq
                    @include fill("#{$query_name}\\:#{$variant}\\:#{$className}", ":#{$variant}");
                }
            }
        }
    }
}
