.wrapper {
    &,
    &--fluid {
        margin-right: auto;
        margin-left: auto;
    }

    &--fluid {
        padding-right: var(--gutter-page);
        padding-left: var(--gutter-page);
    }
}

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: var(--width);
    padding-right: var(--gutter-comp);
    padding-left: var(--gutter-comp);
}

.row__col {
    &,
    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6,
    &--7,
    &--8,
    &--9,
    &--10,
    &--11,
    &--12,
    &--offset-0,
    &--offset-1,
    &--offset-2,
    &--offset-3,
    &--offset-4,
    &--offset-5,
    &--offset-6,
    &--offset-7,
    &--offset-8,
    &--offset-9,
    &--offset-10,
    &--offset-11 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: var(--gutter-half);
        padding-left: var(--gutter-half);
    }

    flex-grow: 1;
    flex-basis: 0;
    max-width: var(--w-full);

    &--1 {
        flex-basis: var(--w-1-twelfth);
        max-width: var(--w-1-twelfth);
    }

    &--2 {
        flex-basis: var(--w-2-twelfths);
        max-width: var(--w-2-twelfths);
    }

    &--3 {
        flex-basis: var(--w-3-twelfths);
        max-width: var(--w-3-twelfths);
    }

    &--4 {
        flex-basis: var(--w-4-twelfths);
        max-width: var(--w-4-twelfths);
    }

    &--5 {
        flex-basis: var(--w-5-twelfths);
        max-width: var(--w-5-twelfths);
    }

    &--6 {
        flex-basis: var(--w-6-twelfths);
        max-width: var(--w-6-twelfths);
    }

    &--7 {
        flex-basis: var(--w-7-twelfths);
        max-width: var(--w-7-twelfths);
    }

    &--8 {
        flex-basis: var(--w-8-twelfths);
        max-width: var(--w-8-twelfths);
    }

    &--9 {
        flex-basis: var(--w-9-twelfths);
        max-width: var(--w-9-twelfths);
    }

    &--10 {
        flex-basis: var(--w-10-twelfths);
        max-width: var(--w-10-twelfths);
    }

    &--11 {
        flex-basis: var(--w-11-twelfths);
        max-width: var(--w-11-twelfths);
    }

    &--12 {
        flex-basis: var(--w-full);
        max-width: var(--w-full);
    }

    &--offset-0 {
        margin-left: 0;
    }

    &--offset-1 {
        margin-left: var(--w-1-twelfth);
    }

    &--offset-2 {
        margin-left: var(--w-2-twelfths);
    }

    &--offset-3 {
        margin-left: var(--w-3-twelfths);
    }

    &--offset-4 {
        margin-left: var(--w-4-twelfths);
    }

    &--offset-5 {
        margin-left: var(--w-5-twelfths);
    }

    &--offset-6 {
        margin-left: var(--w-6-twelfths);
    }

    &--offset-7 {
        margin-left: var(--w-7-twelfths);
    }

    &--offset-8 {
        margin-left: var(--w-8-twelfths);
    }

    &--offset-9 {
        margin-left: var(--w-9-twelfths);
    }

    &--offset-10 {
        margin-left: var(--w-10-twelfths);
    }

    &--offset-11 {
        margin-left: var(--w-11-twelfths);
    }
}

@include mq(sm) {
    .sm {
        &\:row__col,
        &\:row__col--1,
        &\:row__col--2,
        &\:row__col--3,
        &\:row__col--4,
        &\:row__col--5,
        &\:row__col--6,
        &\:row__col--7,
        &\:row__col--8,
        &\:row__col--9,
        &\:row__col--10,
        &\:row__col--11,
        &\:row__col--12,
        &\:row__col--offset-0,
        &\:row__col--offset-1,
        &\:row__col--offset-2,
        &\:row__col--offset-3,
        &\:row__col--offset-4,
        &\:row__col--offset-5,
        &\:row__col--offset-6,
        &\:row__col--offset-7,
        &\:row__col--offset-8,
        &\:row__col--offset-9,
        &\:row__col--offset-10,
        &\:row__col--offset-11,
        &\:row__col--offset-12 {
            box-sizing: border-box;
            flex: 0 0 auto;
            padding-right: var(--gutter-half);
            padding-left: var(--gutter-half);
        }

        &\:row__col {
            flex-grow: 1;
            flex-basis: 0;
            max-width: var(--w-full);
        }

        &\:row__col--1 {
            flex-basis: var(--w-1-twelfth);
            max-width: var(--w-1-twelfth);
        }

        &\:row__col--2 {
            flex-basis: var(--w-2-twelfths);
            max-width: var(--w-2-twelfths);
        }

        &\:row__col--3 {
            flex-basis: var(--w-3-twelfths);
            max-width: var(--w-3-twelfths);
        }

        &\:row__col--4 {
            flex-basis: var(--w-4-twelfths);
            max-width: var(--w-4-twelfths);
        }

        &\:row__col--5 {
            flex-basis: var(--w-5-twelfths);
            max-width: var(--w-5-twelfths);
        }

        &\:row__col--6 {
            flex-basis: var(--w-6-twelfths);
            max-width: var(--w-6-twelfths);
        }

        &\:row__col--7 {
            flex-basis: var(--w-7-twelfths);
            max-width: var(--w-7-twelfths);
        }

        &\:row__col--8 {
            flex-basis: var(--w-8-twelfths);
            max-width: var(--w-8-twelfths);
        }

        &\:row__col--9 {
            flex-basis: var(--w-9-twelfths);
            max-width: var(--w-9-twelfths);
        }

        &\:row__col--10 {
            flex-basis: var(--w-10-twelfths);
            max-width: var(--w-10-twelfths);
        }

        &\:row__col--11 {
            flex-basis: var(--w-11-twelfths);
            max-width: var(--w-11-twelfths);
        }

        &\:row__col--12 {
            flex-basis: var(--w-full);
            max-width: var(--w-full);
        }

        &\:row__col--offset-0 {
            margin-left: 0;
        }

        &\:row__col--offset-1 {
            margin-left: var(--w-1-twelfth);
        }

        &\:row__col--offset-2 {
            margin-left: var(--w-2-twelfths);
        }

        &\:row__col--offset-3 {
            margin-left: var(--w-3-twelfths);
        }

        &\:row__col--offset-4 {
            margin-left: var(--w-4-twelfths);
        }

        &\:row__col--offset-5 {
            margin-left: var(--w-5-twelfths);
        }

        &\:row__col--offset-6 {
            margin-left: var(--w-6-twelfths);
        }

        &\:row__col--offset-7 {
            margin-left: var(--w-7-twelfths);
        }

        &\:row__col--offset-8 {
            margin-left: var(--w-8-twelfths);
        }

        &\:row__col--offset-9 {
            margin-left: var(--w-9-twelfths);
        }

        &\:row__col--offset-10 {
            margin-left: var(--w-10-twelfths);
        }

        &\:row__col--offset-11 {
            margin-left: var(--w-11-twelfths);
        }
    }
}

@include mq(md) {
    .md {
        &\:row__col,
        &\:row__col--1,
        &\:row__col--2,
        &\:row__col--3,
        &\:row__col--4,
        &\:row__col--5,
        &\:row__col--6,
        &\:row__col--7,
        &\:row__col--8,
        &\:row__col--9,
        &\:row__col--10,
        &\:row__col--11,
        &\:row__col--12,
        &\:row__col--offset-0,
        &\:row__col--offset-1,
        &\:row__col--offset-2,
        &\:row__col--offset-3,
        &\:row__col--offset-4,
        &\:row__col--offset-5,
        &\:row__col--offset-6,
        &\:row__col--offset-7,
        &\:row__col--offset-8,
        &\:row__col--offset-9,
        &\:row__col--offset-10,
        &\:row__col--offset-11,
        &\:row__col--offset-12 {
            box-sizing: border-box;
            flex: 0 0 auto;
            padding-right: var(--gutter-half);
            padding-left: var(--gutter-half);
        }

        &\:row__col {
            flex-grow: 1;
            flex-basis: 0;
            max-width: var(--w-full);
        }

        &\:row__col--1 {
            flex-basis: var(--w-1-twelfth);
            max-width: var(--w-1-twelfth);
        }

        &\:row__col--2 {
            flex-basis: var(--w-2-twelfths);
            max-width: var(--w-2-twelfths);
        }

        &\:row__col--3 {
            flex-basis: var(--w-3-twelfths);
            max-width: var(--w-3-twelfths);
        }

        &\:row__col--4 {
            flex-basis: var(--w-4-twelfths);
            max-width: var(--w-4-twelfths);
        }

        &\:row__col--5 {
            flex-basis: var(--w-5-twelfths);
            max-width: var(--w-5-twelfths);
        }

        &\:row__col--6 {
            flex-basis: var(--w-6-twelfths);
            max-width: var(--w-6-twelfths);
        }

        &\:row__col--7 {
            flex-basis: var(--w-7-twelfths);
            max-width: var(--w-7-twelfths);
        }

        &\:row__col--8 {
            flex-basis: var(--w-8-twelfths);
            max-width: var(--w-8-twelfths);
        }

        &\:row__col--9 {
            flex-basis: var(--w-9-twelfths);
            max-width: var(--w-9-twelfths);
        }

        &\:row__col--10 {
            flex-basis: var(--w-10-twelfths);
            max-width: var(--w-10-twelfths);
        }

        &\:row__col--11 {
            flex-basis: var(--w-11-twelfths);
            max-width: var(--w-11-twelfths);
        }

        &\:row__col--12 {
            flex-basis: var(--w-full);
            max-width: var(--w-full);
        }

        &\:row__col--offset-0 {
            margin-left: 0;
        }

        &\:row__col--offset-1 {
            margin-left: var(--w-1-twelfth);
        }

        &\:row__col--offset-2 {
            margin-left: var(--w-2-twelfths);
        }

        &\:row__col--offset-3 {
            margin-left: var(--w-3-twelfths);
        }

        &\:row__col--offset-4 {
            margin-left: var(--w-4-twelfths);
        }

        &\:row__col--offset-5 {
            margin-left: var(--w-5-twelfths);
        }

        &\:row__col--offset-6 {
            margin-left: var(--w-6-twelfths);
        }

        &\:row__col--offset-7 {
            margin-left: var(--w-7-twelfths);
        }

        &\:row__col--offset-8 {
            margin-left: var(--w-8-twelfths);
        }

        &\:row__col--offset-9 {
            margin-left: var(--w-9-twelfths);
        }

        &\:row__col--offset-10 {
            margin-left: var(--w-10-twelfths);
        }

        &\:row__col--offset-11 {
            margin-left: var(--w-11-twelfths);
        }
    }
}

@include mq(lg) {
    .lg {
        &\:row__col,
        &\:row__col--1,
        &\:row__col--2,
        &\:row__col--3,
        &\:row__col--4,
        &\:row__col--5,
        &\:row__col--6,
        &\:row__col--7,
        &\:row__col--8,
        &\:row__col--9,
        &\:row__col--10,
        &\:row__col--11,
        &\:row__col--12,
        &\:row__col--offset-0,
        &\:row__col--offset-1,
        &\:row__col--offset-2,
        &\:row__col--offset-3,
        &\:row__col--offset-4,
        &\:row__col--offset-5,
        &\:row__col--offset-6,
        &\:row__col--offset-7,
        &\:row__col--offset-8,
        &\:row__col--offset-9,
        &\:row__col--offset-10,
        &\:row__col--offset-11,
        &\:row__col--offset-12 {
            box-sizing: border-box;
            flex: 0 0 auto;
            padding-right: var(--gutter-half);
            padding-left: var(--gutter-half);
        }

        &\:row__col {
            flex-grow: 1;
            flex-basis: 0;
            max-width: var(--w-full);
        }

        &\:row__col--1 {
            flex-basis: var(--w-1-twelfth);
            max-width: var(--w-1-twelfth);
        }

        &\:row__col--2 {
            flex-basis: var(--w-2-twelfths);
            max-width: var(--w-2-twelfths);
        }

        &\:row__col--3 {
            flex-basis: var(--w-3-twelfths);
            max-width: var(--w-3-twelfths);
        }

        &\:row__col--4 {
            flex-basis: var(--w-4-twelfths);
            max-width: var(--w-4-twelfths);
        }

        &\:row__col--5 {
            flex-basis: var(--w-5-twelfths);
            max-width: var(--w-5-twelfths);
        }

        &\:row__col--6 {
            flex-basis: var(--w-6-twelfths);
            max-width: var(--w-6-twelfths);
        }

        &\:row__col--7 {
            flex-basis: var(--w-7-twelfths);
            max-width: var(--w-7-twelfths);
        }

        &\:row__col--8 {
            flex-basis: var(--w-8-twelfths);
            max-width: var(--w-8-twelfths);
        }

        &\:row__col--9 {
            flex-basis: var(--w-9-twelfths);
            max-width: var(--w-9-twelfths);
        }

        &\:row__col--10 {
            flex-basis: var(--w-10-twelfths);
            max-width: var(--w-10-twelfths);
        }

        &\:row__col--11 {
            flex-basis: var(--w-11-twelfths);
            max-width: var(--w-11-twelfths);
        }

        &\:row__col--12 {
            flex-basis: var(--w-full);
            max-width: var(--w-full);
        }

        &\:row__col--offset-0 {
            margin-left: 0;
        }

        &\:row__col--offset-1 {
            margin-left: var(--w-1-twelfth);
        }

        &\:row__col--offset-2 {
            margin-left: var(--w-2-twelfths);
        }

        &\:row__col--offset-3 {
            margin-left: var(--w-3-twelfths);
        }

        &\:row__col--offset-4 {
            margin-left: var(--w-4-twelfths);
        }

        &\:row__col--offset-5 {
            margin-left: var(--w-5-twelfths);
        }

        &\:row__col--offset-6 {
            margin-left: var(--w-6-twelfths);
        }

        &\:row__col--offset-7 {
            margin-left: var(--w-7-twelfths);
        }

        &\:row__col--offset-8 {
            margin-left: var(--w-8-twelfths);
        }

        &\:row__col--offset-9 {
            margin-left: var(--w-9-twelfths);
        }

        &\:row__col--offset-10 {
            margin-left: var(--w-10-twelfths);
        }

        &\:row__col--offset-11 {
            margin-left: var(--w-11-twelfths);
        }
    }
}

@include mq(xl) {
    .xl {
        &\:row__col,
        &\:row__col--1,
        &\:row__col--2,
        &\:row__col--3,
        &\:row__col--4,
        &\:row__col--5,
        &\:row__col--6,
        &\:row__col--7,
        &\:row__col--8,
        &\:row__col--9,
        &\:row__col--10,
        &\:row__col--11,
        &\:row__col--12,
        &\:row__col--offset-0,
        &\:row__col--offset-1,
        &\:row__col--offset-2,
        &\:row__col--offset-3,
        &\:row__col--offset-4,
        &\:row__col--offset-5,
        &\:row__col--offset-6,
        &\:row__col--offset-7,
        &\:row__col--offset-8,
        &\:row__col--offset-9,
        &\:row__col--offset-10,
        &\:row__col--offset-11,
        &\:row__col--offset-12 {
            box-sizing: border-box;
            flex: 0 0 auto;
            padding-right: var(--gutter-half);
            padding-left: var(--gutter-half);
        }

        &\:row__col {
            flex-grow: 1;
            flex-basis: 0;
            max-width: var(--w-full);
        }

        &\:row__col--1 {
            flex-basis: var(--w-1-twelfth);
            max-width: var(--w-1-twelfth);
        }

        &\:row__col--2 {
            flex-basis: var(--w-2-twelfths);
            max-width: var(--w-2-twelfths);
        }

        &\:row__col--3 {
            flex-basis: var(--w-3-twelfths);
            max-width: var(--w-3-twelfths);
        }

        &\:row__col--4 {
            flex-basis: var(--w-4-twelfths);
            max-width: var(--w-4-twelfths);
        }

        &\:row__col--5 {
            flex-basis: var(--w-5-twelfths);
            max-width: var(--w-5-twelfths);
        }

        &\:row__col--6 {
            flex-basis: var(--w-6-twelfths);
            max-width: var(--w-6-twelfths);
        }

        &\:row__col--7 {
            flex-basis: var(--w-7-twelfths);
            max-width: var(--w-7-twelfths);
        }

        &\:row__col--8 {
            flex-basis: var(--w-8-twelfths);
            max-width: var(--w-8-twelfths);
        }

        &\:row__col--9 {
            flex-basis: var(--w-9-twelfths);
            max-width: var(--w-9-twelfths);
        }

        &\:row__col--10 {
            flex-basis: var(--w-10-twelfths);
            max-width: var(--w-10-twelfths);
        }

        &\:row__col--11 {
            flex-basis: var(--w-11-twelfths);
            max-width: var(--w-11-twelfths);
        }

        &\:row__col--12 {
            flex-basis: var(--w-full);
            max-width: var(--w-full);
        }

        &\:row__col--offset-0 {
            margin-left: 0;
        }

        &\:row__col--offset-1 {
            margin-left: var(--w-1-twelfth);
        }

        &\:row__col--offset-2 {
            margin-left: var(--w-2-twelfths);
        }

        &\:row__col--offset-3 {
            margin-left: var(--w-3-twelfths);
        }

        &\:row__col--offset-4 {
            margin-left: var(--w-4-twelfths);
        }

        &\:row__col--offset-5 {
            margin-left: var(--w-5-twelfths);
        }

        &\:row__col--offset-6 {
            margin-left: var(--w-6-twelfths);
        }

        &\:row__col--offset-7 {
            margin-left: var(--w-7-twelfths);
        }

        &\:row__col--offset-8 {
            margin-left: var(--w-8-twelfths);
        }

        &\:row__col--offset-9 {
            margin-left: var(--w-9-twelfths);
        }

        &\:row__col--offset-10 {
            margin-left: var(--w-10-twelfths);
        }

        &\:row__col--offset-11 {
            margin-left: var(--w-11-twelfths);
        }
    }
}
